{% extends "_layouts/base.html"  %}

{% block content %}
<table class="table table-hover">
  <thead>
    <tr>
      <th>Title</th>
      <th>Send</th>
      <th>Email</th>
      <th></th>
    </tr>
  </thead>
  <tbody>
    {% for object in object_list %}
    <tr>
      <td class="col-md-4">
        <a href="{{ object.get_absolute_url }}?q={{ list_slug }}">
          <strong>
            {% if object.last_name %}
            {{ object.last_name }}, 
            {% endif %}
            {{ object.name | title }}
          </strong>
        </a>
      </td>
      <td class="col-md-1">
        <i class="{% if object.email_sent %}
        alert-success glyphicon glyphicon-ok-sign
            {% else %}
        alert-danger glyphicon glyphicon-remove-sign
            {% endif %}"></i>
      </td>
      <td class="col-md-4">
        <a href="{{ object.get_absolute_url }}?q={{ list_slug }}">
        {{ object.email }}
        </a>
      </td>
      <td class="col-md-3">
        <a href="{{ object.get_absolute_url }}?q={{ list_slug }}" class="btn btn-warning glyphicon glyphicon-eye-open"></a>
        <a href="{% url 'grid:people_edit' object.slug %}" class="btn btn-default glyphicon glyphicon-pencil"></a>
        <a href="{% url 'grid:people_delete' object.pk %}" class="btn btn-danger glyphicon glyphicon-trash"></a>
      </td>
    </tr>
    {% endfor %}
  </tbody>
</table>
{% endblock %}
