{% extends "_layouts/base.html"  %}

{% block content %}
<table class="table table-hover">
  <thead>
    <tr>
      <th>Title</th>
      <th>Template</th>
      <th></th>
    </tr>
  </thead>
  <tbody>
    {% for object in object_list %}
    <tr>
      <td class="col-md-5">
        <a href="{{ object.get_absolute_url }}">
          <strong>
            {{ object.title | title }}
            <span class="badge">
              {{ object.list_count }}
            </span>
          </strong>
        </a>
      </td>
      <td class="col-md-4">
        <a href="{{ object.template_email.url }}">
        {{ object.template_email }}
        </a>
      </td>
      <td class="col-md-3">
        <a href="{{ object.get_absolute_url }}" class="btn btn-primary glyphicon glyphicon-eye-open"></a>
        <a href="{% url 'grid:template_edit' object.slug %}" class="btn btn-default glyphicon glyphicon-pencil"></a>
      </td>
    </tr>
    {% endfor %}
  </tbody>
</table>
{% endblock %}
