{% extends "_layouts/base.html"  %}

{% block content %}
<div class="panel panel-default">
  <div class="panel-heading">
    <h2>
      {{ object.title | title }}
      {% if object.last_name %}
      {{ object.last_name | title }}
      {% endif %}
    </h2>
    <div class="pull-right">
      <a href="{% url 'grid:template_edit' object.slug %}" class="btn btn-default glyphicon glyphicon-pencil"></a>
    </div>
  </div>
  <div class="panel-body">
    <strong>Content: </strong>{{ object.content | safe }}
  </div>
  {% if object.attachment %}
  <div class="panel-body">
    <strong>Attachment: </strong><a href="{{ object.attachment.url }}">{{ object.attachment.url }}</a>
  </div>
  {% endif %}
  <div class="panel-body">
    <strong>Template: </strong><a href="{{ object.template_file.url }}">{{ object.template_file.url }}</a>
  </div>
</div>
<div class="panel panel-default">
  <div class="panel-heading">
    <h3>Demo</h3>
  </div>
  <div class="panel-body">
    <iframe src="{{ object.template_email.url }}"  width="100%" height="680" frameBorder="0"></iframe>
  </div>
</div>
{% endblock %}
